@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tarapur<br />
    Patna, Bihar, India<br />
    <abbr title="Phone">P:</abbr>
    +91 9128434558
</address>

<address>
    <strong>Support:</strong>   <a href="#">deepak@gmail.com.com</a><br />
</address>